body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-tabs {
  border-bottom: 1px solid rgb(28, 28, 33) !important;
}
.nav-tabs .nav-link {
  border: none !important;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out 0s !important;
}
.nav-tabs .nav-link:hover {
  border: none !important;
  opacity: 1 !important;
  z-index: 1 !important;
}

.nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: rgb(40, 40, 46) !important;
  border: none;
  border-bottom: 1px solid rgb(229, 7, 112) !important;
}
